body {
    display: flex;
    justify-content: space-evenly;
    background: #000000;
}

main {
    width: 80%;
}

h1 {
    display: flex;
    justify-content: center;
    color: #F0FFFF;
    font-family: "Georgia", sans-serif;
}

p {
    color: #F0FFFF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    font-size: 18px;
    line-height: 30px;
}

a {
    color: #F0FFFF;
}

#content {
    display: flex;
    justify-content: center;
}

#game-canvas {
    border: solid 7px #F0FFFF;
    border-radius: 10px;
    padding: 1px;
    width: 61%;
    aspect-ratio: 4 / 3;
}

#help-button-div {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#help-dropdown {
    visibility: collapse;
    position: fixed;
    background-color: #1A0A0A;
    padding: 5px;
}

#backdrop {
    overflow: hidden;
    position: fixed;
    display: block;
    z-index: -1000;
    background: #0A0A0A;
    width: inherit;
    height: 100%;
    margin-top: -10px;
    margin-left: -6px;
    padding-top: 10px;
}

.centered {
    text-align: center;
}